fastai
seaborn==0.11.1
opencv-python-headless==4.5.1.48

numpy==1.19.2
Pillow==8.2.0
matplotlib==3.3.4
pandas==1.2.5
tensorflow-cpu


streamlit==0.84.1

aiortc==1.2.0
av==8.0.3
streamlit-webrtc==0.11.0
