fastai
seaborn==0.11.1
scikit-learn==0.24.2
pytesseract
opencv-python-headless==4.5.1.48
numpy==1.20.2
Pillow==8.2.0
icecream==2.1.1
matplotlib==3.3.4
pandas==1.2.5
#tensorflow-cpu==2.0.0
tensorflow-gpu==2.5
Pillow==7.0.0
scipy==1.7.0
flask==2.0.1
streamlit==0.84.1
#streamlit-webrtc==0.23.11
Pillow==7.0.0

tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.5.0
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.4
validators==0.18.2
watchdog==2.0.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
aiortc==1.2.0
av==8.0.3
streamlit-webrtc==0.11.0
pytz==2021.1
PyYAML==5.4.1
Jinja2==2.11.3

